doctype
doctype html
html(lang='en')
  head
    title
    link(href='/css/apostrophe.css', rel='stylesheet')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/scrolling-nav.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/editor.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/main.css")
  body
    != yield
