.apos-refreshable(data-apos-refreshable='')
  //- ul.navegation
  //-   li.nav-element
  //-     a(href='/') Home
  //-   li.nav-element
  //-     a(href='/try-it-now') Try it now
  a(name='main')
  .apos-area(data-apos-area='')
    .apos-area-widget-wrapper(data-apos-widget-wrapper='as-section')
      .apos-area-widget(data-apos-widget='as-section', data-apos-widget-id='w307404829806048426', data='{"_id":"w307404829806048426","preferences":["full"],"color":"black","padding":0,"boxsection":{"items":[{"_id":"w676971921737834239","code":"<div><span style=\"padding-top: 20px; */margin-top: 20px;margin-right: 40px;font-family: Montserrat;vertical-align: middle;font-size: 7em;font-weight: 600;text-align: left;\">MTSP</span><img src=\"http://143.106.24.214/images/ciud865g40018sufx9j3zmi14-line-segment.full.png\" style=\"width: 8%;height: auto;vertical-align: middle;\"></img></div>\n\n<div style=\"font-family: Montserrat;\n    font-size: 1.5em;\">The Multicore Task Scheduling Platform</div>\n<br><br>\n<div style=\"font-size: 1.2em;\">MTSP (Multicore Task Scheduling Platform) is a small, lightweight research runtime aimed at extracting task parallelism by means of OpenMP 4.X annotations. Guided by an extensive profiling study it has been designed for flexibility and easy of use. MTSP is based on OpenMP task parallelism interface and its open API enables runtime designers to fast prototype new task stealing polices and workload balance heuristics.</div><br>","type":"apostrophe-html"},{"_id":"w47054844048161118","url":"/try-it-now","label":"Try it now","preferences":[],"color":null,"type":"as-button"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.0.boxsection"},"type":"as-section"}', data-options='{"edit":false}')
        section.section.black.full
          .container
            .row
              .col-lg-12
                .apos-area(data-apos-area='')
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-html')
                    .apos-area-widget(data-apos-widget='apostrophe-html', data-apos-widget-id='w676971921737834239', data='{"_id":"w676971921737834239","code":"<div><span style=\"padding-top: 20px; */margin-top: 20px;margin-right: 40px;font-family: Montserrat;vertical-align: middle;font-size: 7em;font-weight: 600;text-align: left;\">MTSP</span><img src=\"http://143.106.24.214/images/ciud865g40018sufx9j3zmi14-line-segment.full.png\" style=\"width: 8%;height: auto;vertical-align: middle;\"></img></div>\n\n<div style=\"font-family: Montserrat;\n    font-size: 1.5em;\">The Multicore Task Scheduling Platform</div>\n<br><br>\n<div style=\"font-size: 1.2em;\">MTSP (Multicore Task Scheduling Platform) is a small, lightweight research runtime aimed at extracting task parallelism by means of OpenMP 4.X annotations. Guided by an extensive profiling study it has been designed for flexibility and easy of use. MTSP is based on OpenMP task parallelism interface and its open API enables runtime designers to fast prototype new task stealing polices and workload balance heuristics.</div><br>","type":"apostrophe-html"}', data-options='{"edit":false}')
                      div(data-raw-html='')
                        div
                          span(style='padding-top: 20px; */margin-top: 20px;margin-right: 40px;font-family: Montserrat;vertical-align: middle;font-size: 7em;font-weight: 600;text-align: left;') MTSP
                          img(src='/images/ciud865g40018sufx9j3zmi14-line-segment.full.png', style='width: 8%;height: auto;vertical-align: middle;')
                        div(style='font-family: Montserrat;\
                        font-size: 1.5em;') The Multicore Task Scheduling Platform
                        br
                        br
                        div(style='font-size: 1.2em;')
                          | MTSP (Multicore Task Scheduling Platform) is a small, lightweight research runtime aimed at extracting task parallelism by means of OpenMP 4.X annotations. Guided by an extensive profiling study it has been designed for flexibility and easy of use. MTSP is based on OpenMP task parallelism interface and its open API enables runtime designers to fast prototype new task stealing polices and workload balance heuristics.
                        br
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-button')
                    .apos-area-widget(data-apos-widget='as-button', data-apos-widget-id='w47054844048161118', data='{"_id":"w47054844048161118","url":"/try-it-now","label":"Try it now","preferences":[],"color":null,"type":"as-button"}', data-options='{"edit":false}')
                      div
                        a.btn.btn-default.page-scroll(href='https://github.com/mtsp')
                          | Get the Code
    .apos-area-widget-wrapper(data-apos-widget-wrapper='as-section')
      .apos-area-widget(data-apos-widget='as-section', data-apos-widget-id='w982703521269714108', data='{"_id":"w982703521269714108","preferences":[],"color":"bg-blue white","padding":0,"boxsection":{"items":[{"_id":"w682847721377516001","label":"FEATURES","preferences":["center"],"size":"h1","color":"white","type":"as-title"},{"_id":"w320801044611408674","first":{"items":[{"_id":"w346967870534080807","label":"Open Source","preferences":["center"],"size":"h3","color":"white","type":"as-title"},{"_id":"w393898884568583281","type":"apostrophe-rich-text","content":"<p>MTSP is Free and Open Source Software and  will be released under BSD-License.<br />\n </p>\n"},{"_id":"w951698857253477428","by":"id","pieceIds":["ciudifg38001lc5fxbeq7iwjp"],"relationships":{"ciudifg38001lc5fxbeq7iwjp":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection.items.1.first"},"second":{"items":[{"_id":"w384729361925701445","label":"Crafted for API","preferences":["center"],"size":"h3","color":"white","type":"as-title"},{"_id":"w106176514736446360","type":"apostrophe-rich-text","content":"<p>Written using OpenMP\'s API in mind, making easy to migrate consolidated software.<br />\n </p>\n"},{"_id":"w7131777487517093","by":"id","pieceIds":["ciud80ppk0011sufxwliha9f7"],"relationships":{"ciud80ppk0011sufxwliha9f7":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection.items.1.second"},"third":{"items":[{"_id":"w657212264269249569","label":"TGA Ready","preferences":["center"],"size":"h3","color":"white","type":"as-title"},{"_id":"w930983902138009452","type":"apostrophe-rich-text","content":"<p>Future Task Graph Accelerator (TGA) support to speed-up dependence resolution.<br />\n </p>\n"},{"_id":"w137804033818627835","by":"id","pieceIds":["ciud85lnj0015sufxbml8kbc5"],"relationships":{"ciud85lnj0015sufxbml8kbc5":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection.items.1.third"},"type":"as-three-column-block"},{"_id":"w635945433356423596","url":"https://drive.google.com/open?id=0B6uEcnEGiginajFCM1YzaGR1WDg","label":"READ THE API","preferences":[],"color":"white","type":"as-button"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection"},"type":"as-section"}', data-options='{"edit":false}')
        section.section.bg-blue.white
          .container
            .row
              .col-lg-12
                .apos-area(data-apos-area='')
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-title')
                    .apos-area-widget(data-apos-widget='as-title', data-apos-widget-id='w682847721377516001', data='{"_id":"w682847721377516001","label":"FEATURES","preferences":["center"],"size":"h1","color":"white","type":"as-title"}', data-options='{"edit":false}')
                      h1.center.white
                        | FEATURES
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-three-column-block')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='as-three-column-block', data-apos-widget-id='w320801044611408674', data='{"_id":"w320801044611408674","first":{"items":[{"_id":"w346967870534080807","label":"Open Source","preferences":["center"],"size":"h3","color":"white","type":"as-title"},{"_id":"w393898884568583281","type":"apostrophe-rich-text","content":"<p>MTSP is Free and Open Source Software and  will be released under BSD-License.<br />\n </p>\n"},{"_id":"w951698857253477428","by":"id","pieceIds":["ciudifg38001lc5fxbeq7iwjp"],"relationships":{"ciudifg38001lc5fxbeq7iwjp":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection.items.1.first"},"second":{"items":[{"_id":"w384729361925701445","label":"Crafted for API","preferences":["center"],"size":"h3","color":"white","type":"as-title"},{"_id":"w106176514736446360","type":"apostrophe-rich-text","content":"<p>Written using OpenMP\'s API in mind, making easy to migrate consolidated software.<br />\n </p>\n"},{"_id":"w7131777487517093","by":"id","pieceIds":["ciud80ppk0011sufxwliha9f7"],"relationships":{"ciud80ppk0011sufxwliha9f7":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection.items.1.second"},"third":{"items":[{"_id":"w657212264269249569","label":"TGA Ready","preferences":["center"],"size":"h3","color":"white","type":"as-title"},{"_id":"w930983902138009452","type":"apostrophe-rich-text","content":"<p>Future Task Graph Accelerator (TGA) support to speed-up dependence resolution.<br />\n </p>\n"},{"_id":"w137804033818627835","by":"id","pieceIds":["ciud85lnj0015sufxbml8kbc5"],"relationships":{"ciud85lnj0015sufxbml8kbc5":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.1.boxsection.items.1.third"},"type":"as-three-column-block"}', data-options='{"edit":false}')
                      .as-two-column-block.clearfix
                        .column-widget.column.width-33
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-title')
                              .apos-area-widget(data-apos-widget='as-title', data-apos-widget-id='w346967870534080807', data='{"_id":"w346967870534080807","label":"Open Source","preferences":["center"],"size":"h3","color":"white","type":"as-title"}', data-options='{"edit":false}')
                                h3.center.white
                                  | Open Source
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-rich-text')
                              .apos-area-widget.apos-area-widget--contextual(data-apos-widget='apostrophe-rich-text', data-apos-widget-id='w393898884568583281', data='{"_id":"w393898884568583281","type":"apostrophe-rich-text"}', data-options='{"toolbar":["Styles","Bold","Italic","Blockquote"],"edit":false}')
                                .apos-rich-text(data-rich-text='')
                                  p
                                    | MTSP is Free and Open Source Software and  will be released under BSD-License.
                                    br
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-images')
                              .apos-area-widget(data-apos-widget='apostrophe-images', data-apos-widget-id='w951698857253477428', data='{"_id":"w951698857253477428","by":"id","pieceIds":["ciudifg38001lc5fxbeq7iwjp"],"relationships":{"ciudifg38001lc5fxbeq7iwjp":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}', data-options='{"size":"full","limit":1,"edit":false}')
                                .apos-slideshow(data-slideshow='')
                                  div(data-slideshow-items='')
                                    .apos-slideshow-item.apos-current(data-slideshow-item='', style='background-image: url(/images/ciudifb03001kc5fxm6h9navd-folder.full.png)')
                                      h4 folder
                                      img(data-image='', src='/images/ciudifb03001kc5fxm6h9navd-folder.full.png')
                        .column-widget.column.width-33
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-title')
                              .apos-area-widget(data-apos-widget='as-title', data-apos-widget-id='w384729361925701445', data='{"_id":"w384729361925701445","label":"Crafted for API","preferences":["center"],"size":"h3","color":"white","type":"as-title"}', data-options='{"edit":false}')
                                h3.center.white
                                  | Crafted for API
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-rich-text')
                              .apos-area-widget.apos-area-widget--contextual(data-apos-widget='apostrophe-rich-text', data-apos-widget-id='w106176514736446360', data='{"_id":"w106176514736446360","type":"apostrophe-rich-text"}', data-options='{"toolbar":["Styles","Bold","Italic","Blockquote"],"edit":false}')
                                .apos-rich-text(data-rich-text='')
                                  p
                                    | Written using OpenMP's API in mind, making easy to migrate consolidated software.
                                    br
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-images')
                              .apos-area-widget(data-apos-widget='apostrophe-images', data-apos-widget-id='w7131777487517093', data='{"_id":"w7131777487517093","by":"id","pieceIds":["ciud80ppk0011sufxwliha9f7"],"relationships":{"ciud80ppk0011sufxwliha9f7":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}', data-options='{"size":"full","limit":1,"edit":false}')
                                .apos-slideshow(data-slideshow='')
                                  div(data-slideshow-items='')
                                    .apos-slideshow-item.apos-current(data-slideshow-item='', style='background-image: url(/images/ciud80o300010sufx4h39d2ld-settings-1.full.png)')
                                      h4 settings
                                      img(data-image='', src='/images/ciud80o300010sufx4h39d2ld-settings-1.full.png')
                        .column-widget.column.width-33
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-title')
                              .apos-area-widget(data-apos-widget='as-title', data-apos-widget-id='w657212264269249569', data='{"_id":"w657212264269249569","label":"TGA Ready","preferences":["center"],"size":"h3","color":"white","type":"as-title"}', data-options='{"edit":false}')
                                h3.center.white
                                  | TGA Ready
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-rich-text')
                              .apos-area-widget.apos-area-widget--contextual(data-apos-widget='apostrophe-rich-text', data-apos-widget-id='w930983902138009452', data='{"_id":"w930983902138009452","type":"apostrophe-rich-text"}', data-options='{"toolbar":["Styles","Bold","Italic","Blockquote"],"edit":false}')
                                .apos-rich-text(data-rich-text='')
                                  p
                                    | Future Task Graph Accelerator (TGA) support to speed-up dependence resolution.
                                    br
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-images')
                              .apos-area-widget(data-apos-widget='apostrophe-images', data-apos-widget-id='w137804033818627835', data='{"_id":"w137804033818627835","by":"id","pieceIds":["ciud85lnj0015sufxbml8kbc5"],"relationships":{"ciud85lnj0015sufxbml8kbc5":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}', data-options='{"size":"full","limit":1,"edit":false}')
                                .apos-slideshow(data-slideshow='')
                                  div(data-slideshow-items='')
                                    .apos-slideshow-item.apos-current(data-slideshow-item='', style='background-image: url(/images/ciud83akw0014sufxck77xfoj-layers.full.png)')
                                      h4 Layers
                                      img(data-image='', src='/images/ciud83akw0014sufxck77xfoj-layers.full.png')
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-button')
                    .apos-area-widget(data-apos-widget='as-button', data-apos-widget-id='w635945433356423596', data='{"_id":"w635945433356423596","url":"https://drive.google.com/open?id=0B6uEcnEGiginajFCM1YzaGR1WDg","label":"READ THE API","preferences":[],"color":"white","type":"as-button"}', data-options='{"edit":false}')
                      div
                        a.btn.btn-default.white.page-scroll(href='https://drive.google.com/open?id=0B6uEcnEGiginajFCM1YzaGR1WDg')
                          | READ THE API
    .apos-area-widget-wrapper(data-apos-widget-wrapper='as-section')
      .apos-area-widget(data-apos-widget='as-section', data-apos-widget-id='w805337294728356060', data='{"_id":"w805337294728356060","preferences":[],"color":"black","padding":0,"boxsection":{"items":[{"_id":"w561218862664778139","label":"Our Team","preferences":["center"],"size":"h1","color":"black","type":"as-title"},{"_id":"w593247874772719731","type":"apostrophe-rich-text","content":"<p>MTSP was developed by a team from the Computer Systems Laboratory, at the Institute of Computing of the  University of Campinas<br />\n(IC-UNICAMP).  </p>\n"},{"_id":"w310657494437930748","type":"apostrophe-rich-text","content":"<div>  </div>\n"},{"_id":"w95721286917754751","first":{"items":[{"_id":"w462289261111148873","image":{"items":[{"_id":"w240918774495108977","by":"id","pieceIds":["ciuflundw00372ffxqutdpown"],"relationships":{"ciuflundw00372ffxqutdpown":{"left":0,"top":9,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.first.items.0.image"},"name":"Guido Araújo, PI","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.first"},"second":{"items":[{"_id":"w24532514522470198","image":{"items":[{"_id":"w729946967353936356","by":"id","pieceIds":["ciuflvhmo003b2ffxbs1f4nkq"],"relationships":{"ciuflvhmo003b2ffxbs1f4nkq":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.second.items.0.image"},"name":"Divino César","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.second"},"third":{"items":[{"_id":"w620715963166097954","image":{"items":[{"_id":"w819021504132434545","by":"id","pieceIds":["ciuflyf99003n2ffxh2ib4dte"],"relationships":{"ciuflyf99003n2ffxh2ib4dte":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.third.items.0.image"},"name":"Eduardo Ferreira","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.third"},"fourth":{"items":[{"_id":"w970059673448872779","image":{"items":[{"_id":"w754149714440260394","by":"id","pieceIds":["ciuflxgtl003j2ffxxtvwkeuf"],"relationships":{"ciuflxgtl003j2ffxxtvwkeuf":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.fourth.items.0.image"},"name":"João Fidelis","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.fourth"},"type":"as-avatar-block"},{"_id":"w86605665173752081","first":{"items":[{"_id":"w355648211881139911","image":{"items":[{"_id":"w414762661999099223","by":"id","pieceIds":["ciuflwgps003f2ffx76m630kx"],"relationships":{"ciuflwgps003f2ffx76m630kx":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.first.items.0.image"},"name":"Lucas Morais","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.first"},"second":{"items":[{"_id":"w571437215443166399","image":{"items":[{"_id":"w957477348249443569","by":"id","pieceIds":["ciufm0c36003r2ffx9bc9mnlc"],"relationships":{"ciufm0c36003r2ffx9bc9mnlc":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.second.items.0.image"},"name":"Juliana Rodrigues","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.second"},"third":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.third"},"fourth":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.fourth"},"type":"as-avatar-block"},{"_id":"w398934066623622511","left":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.5.left"},"right":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.5.right"},"type":"as-two-column-block"},{"_id":"w934579716876697866","first":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.6.first"},"second":{"items":[{"_id":"w833993908291072352","by":"id","pieceIds":["ciups43m30021m6fxstyaivs3"],"relationships":{"ciups43m30021m6fxstyaivs3":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.6.second"},"third":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.6.third"},"type":"as-three-column-block"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection"},"type":"as-section"}', data-options='{"edit":false}')
        section.section.black
          .container
            .row
              .col-lg-12
                .apos-area(data-apos-area='')
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-title')
                    .apos-area-widget(data-apos-widget='as-title', data-apos-widget-id='w561218862664778139', data='{"_id":"w561218862664778139","label":"Our Team","preferences":["center"],"size":"h1","color":"black","type":"as-title"}', data-options='{"edit":false}')
                      h1.center.black
                        | Our Team
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-rich-text')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='apostrophe-rich-text', data-apos-widget-id='w593247874772719731', data='{"_id":"w593247874772719731","type":"apostrophe-rich-text"}', data-options='{"toolbar":["Styles","Bold","Italic","BulletedList"],"edit":false}')
                      .apos-rich-text(data-rich-text='')
                        p
                          | MTSP was developed by a team from the Computer Systems Laboratory, at the Institute of Computing of the  University of Campinas
                          br
                          | (IC-UNICAMP).
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-rich-text')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='apostrophe-rich-text', data-apos-widget-id='w310657494437930748', data='{"_id":"w310657494437930748","type":"apostrophe-rich-text"}', data-options='{"toolbar":["Styles","Bold","Italic","BulletedList"],"edit":false}')
                      .apos-rich-text(data-rich-text='')
                        div   
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar-block')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='as-avatar-block', data-apos-widget-id='w95721286917754751', data='{"_id":"w95721286917754751","first":{"items":[{"_id":"w462289261111148873","image":{"items":[{"_id":"w240918774495108977","by":"id","pieceIds":["ciuflundw00372ffxqutdpown"],"relationships":{"ciuflundw00372ffxqutdpown":{"left":0,"top":9,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.first.items.0.image"},"name":"Guido Araújo, PI","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.first"},"second":{"items":[{"_id":"w24532514522470198","image":{"items":[{"_id":"w729946967353936356","by":"id","pieceIds":["ciuflvhmo003b2ffxbs1f4nkq"],"relationships":{"ciuflvhmo003b2ffxbs1f4nkq":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.second.items.0.image"},"name":"Divino César","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.second"},"third":{"items":[{"_id":"w620715963166097954","image":{"items":[{"_id":"w819021504132434545","by":"id","pieceIds":["ciuflyf99003n2ffxh2ib4dte"],"relationships":{"ciuflyf99003n2ffxh2ib4dte":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.third.items.0.image"},"name":"Eduardo Ferreira","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.third"},"fourth":{"items":[{"_id":"w970059673448872779","image":{"items":[{"_id":"w754149714440260394","by":"id","pieceIds":["ciuflxgtl003j2ffxxtvwkeuf"],"relationships":{"ciuflxgtl003j2ffxxtvwkeuf":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.fourth.items.0.image"},"name":"João Fidelis","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.fourth"},"type":"as-avatar-block"}', data-options='{"edit":false}')
                      .as-two-column-block.clearfix
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar')
                              .apos-area-widget(data-apos-widget='as-avatar', data-apos-widget-id='w462289261111148873', data='{"_id":"w462289261111148873","image":{"items":[{"_id":"w240918774495108977","by":"id","pieceIds":["ciuflundw00372ffxqutdpown"],"relationships":{"ciuflundw00372ffxqutdpown":{"left":0,"top":9,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.first.items.0.image"},"name":"Guido Araújo, PI","subtitle":"","type":"as-avatar"}', data-options='{"edit":false}')
                                .avatar-mono
                                  img(src='/images/ciufluklp00362ffxch7pgec8-guido.0.9.150.150.one-sixth.png')
                                  h3 Guido Araújo, PI
                                  h4
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar')
                              .apos-area-widget(data-apos-widget='as-avatar', data-apos-widget-id='w24532514522470198', data='{"_id":"w24532514522470198","image":{"items":[{"_id":"w729946967353936356","by":"id","pieceIds":["ciuflvhmo003b2ffxbs1f4nkq"],"relationships":{"ciuflvhmo003b2ffxbs1f4nkq":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.second.items.0.image"},"name":"Divino César","subtitle":"","type":"as-avatar"}', data-options='{"edit":false}')
                                .avatar-mono
                                  img(src='/images/ciuflvexr003a2ffxlsfue4fa-divino-cesar.0.0.150.150.one-sixth.jpg')
                                  h3 Divino César
                                  h4
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar')
                              .apos-area-widget(data-apos-widget='as-avatar', data-apos-widget-id='w620715963166097954', data='{"_id":"w620715963166097954","image":{"items":[{"_id":"w819021504132434545","by":"id","pieceIds":["ciuflyf99003n2ffxh2ib4dte"],"relationships":{"ciuflyf99003n2ffxh2ib4dte":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.third.items.0.image"},"name":"Eduardo Ferreira","subtitle":"","type":"as-avatar"}', data-options='{"edit":false}')
                                .avatar-mono
                                  img(src='/images/ciuflydur003m2ffxvfge6duj-eduardo.0.0.150.150.one-sixth.jpg')
                                  h3 Eduardo Ferreira
                                  h4
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar')
                              .apos-area-widget(data-apos-widget='as-avatar', data-apos-widget-id='w970059673448872779', data='{"_id":"w970059673448872779","image":{"items":[{"_id":"w754149714440260394","by":"id","pieceIds":["ciuflxgtl003j2ffxxtvwkeuf"],"relationships":{"ciuflxgtl003j2ffxxtvwkeuf":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.3.fourth.items.0.image"},"name":"João Fidelis","subtitle":"","type":"as-avatar"}', data-options='{"edit":false}')
                                .avatar-mono
                                  img(src='/images/ciuflxfkd003i2ffx6venlqu5-joao.0.0.150.150.one-sixth.jpg')
                                  h3 João Fidelis
                                  h4
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar-block')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='as-avatar-block', data-apos-widget-id='w86605665173752081', data='{"_id":"w86605665173752081","first":{"items":[{"_id":"w355648211881139911","image":{"items":[{"_id":"w414762661999099223","by":"id","pieceIds":["ciuflwgps003f2ffx76m630kx"],"relationships":{"ciuflwgps003f2ffx76m630kx":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.first.items.0.image"},"name":"Lucas Morais","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.first"},"second":{"items":[{"_id":"w571437215443166399","image":{"items":[{"_id":"w957477348249443569","by":"id","pieceIds":["ciufm0c36003r2ffx9bc9mnlc"],"relationships":{"ciufm0c36003r2ffx9bc9mnlc":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.second.items.0.image"},"name":"Juliana Rodrigues","subtitle":"","type":"as-avatar"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.second"},"third":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.third"},"fourth":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.fourth"},"type":"as-avatar-block"}', data-options='{"edit":false}')
                      .as-two-column-block.clearfix
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar')
                              .apos-area-widget(data-apos-widget='as-avatar', data-apos-widget-id='w355648211881139911', data='{"_id":"w355648211881139911","image":{"items":[{"_id":"w414762661999099223","by":"id","pieceIds":["ciuflwgps003f2ffx76m630kx"],"relationships":{"ciuflwgps003f2ffx76m630kx":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.first.items.0.image"},"name":"Lucas Morais","subtitle":"","type":"as-avatar"}', data-options='{"edit":false}')
                                .avatar-mono
                                  img(src='/images/ciuflwf8c003e2ffx38i0scij-lucas.0.0.150.150.one-sixth.jpg')
                                  h3 Lucas Morais
                                  h4
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='as-avatar')
                              .apos-area-widget(data-apos-widget='as-avatar', data-apos-widget-id='w571437215443166399', data='{"_id":"w571437215443166399","image":{"items":[{"_id":"w957477348249443569","by":"id","pieceIds":["ciufm0c36003r2ffx9bc9mnlc"],"relationships":{"ciufm0c36003r2ffx9bc9mnlc":{"left":0,"top":0,"width":150,"height":150}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.4.second.items.0.image"},"name":"Juliana Rodrigues","subtitle":"","type":"as-avatar"}', data-options='{"edit":false}')
                                .avatar-mono
                                  img(src='/images/ciufm0apu003q2ffx5oosnkno-ju-2.0.0.150.150.one-sixth.jpg')
                                  h3 Juliana Rodrigues
                                  h4
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                        .column-widget.column.width-20
                          .apos-area(data-apos-area='')
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-two-column-block')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='as-two-column-block', data-apos-widget-id='w398934066623622511', data='{"_id":"w398934066623622511","left":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.5.left"},"right":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.5.right"},"type":"as-two-column-block"}', data-options='{"edit":false}')
                      .as-two-column-block.clearfix
                        .column-widget.column.width-50
                          .apos-area(data-apos-area='')
                        .column-widget.column.width-50
                          .apos-area(data-apos-area='')
                  .apos-area-widget-wrapper(data-apos-widget-wrapper='as-three-column-block')
                    .apos-area-widget.apos-area-widget--contextual(data-apos-widget='as-three-column-block', data-apos-widget-id='w934579716876697866', data='{"_id":"w934579716876697866","first":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.6.first"},"second":{"items":[{"_id":"w833993908291072352","by":"id","pieceIds":["ciups43m30021m6fxstyaivs3"],"relationships":{"ciups43m30021m6fxstyaivs3":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.6.second"},"third":{"items":[],"type":"area","_docId":"citri9gtp0007jafx7xpbpskp","_dotPath":"pagesection.items.2.boxsection.items.6.third"},"type":"as-three-column-block"}', data-options='{"edit":false}')
                      .as-two-column-block.clearfix
                        .column-widget.column.width-33
                          .apos-area(data-apos-area='')
                        .column-widget.column.width-33
                          .apos-area(data-apos-area='')
                            .apos-area-widget-wrapper(data-apos-widget-wrapper='apostrophe-images')
                              .apos-area-widget(data-apos-widget='apostrophe-images', data-apos-widget-id='w833993908291072352', data='{"_id":"w833993908291072352","by":"id","pieceIds":["ciups43m30021m6fxstyaivs3"],"relationships":{"ciups43m30021m6fxstyaivs3":{"left":null,"top":null,"width":null,"height":null}},"type":"apostrophe-images"}', data-options='{"size":"full","limit":1,"edit":false}')
                                .apos-slideshow(data-slideshow='')
                                  div(data-slideshow-items='')
                                    .apos-slideshow-item.apos-current(data-slideshow-item='', style='background-image: url(/images/ciups9syi0026m6fx016unl70-unicamp-lg.full.png)')
                                      h4 unicamp-lg-logo
                                      img(data-image='', src='/images/ciups9syi0026m6fx016unl70-unicamp-lg.full.png')
                        .column-widget.column.width-33
                          .apos-area(data-apos-area='')
  script(src='/js/jquery.min.js')
  script(src='/js/jquery.easing.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/script.js')
  .footer
    center
      h4 mtsp © 2016
      h5 Campinas, SP
